# MongoDB Connection
MONGODB_URI=

# NextAuth Configuration
NEXTAUTH_SECRET=
NEXTAUTH_URL=http://localhost:3000

# Email Configuration (Gmail)
EMAIL_USER=
EMAIL_PASSWORD=

# Google login Configuration
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# GitHub login Configuration
GITHUB_ID=your_client_id_here
GITHUB_SECRET=your_client_secret_here